   body {
       background : #eee;
       height: 100%;
       width: 100%;
       position: absolute;
       font-family: Lucida Console, Consolas, Courier New;
       overflow-x: hidden;
     }
	 .post_wrapper {
		 vertical-align: middle;
		 display: table-cell;
		 padding: 15%;
		padding-top: 5%;
	 }
	 .post_body {
		background: rgba(255,255,255,0.7);
		padding: 2%;
		color: rgb(100, 100, 100);
		font-family: Roboto Slab, Lucida Console;
	 }
     .centre{
        display: table-cell;
        vertical-align: middle;
          position: absolute;
          height: 100%;
          width: 100%;
     }
     
     img{
        position: relative;
        text-align: center;
        margin: 20px;
        font-family: Roboto;
        font-size: 2em;
        padding: 20px 10px;
        display: block;
        width: 700px;
        margin: 20px auto !important;
        overflow: hidden;
    }
     .links{
       text-align: center;
    }
    .links a{
        text-decoration: none;
       color: #888 !important;
    }
    .tagline{
        text-align: center;
        color: #999;
        padding-top: 10px;
        font-size: 0.8em;   
    }
    #contrib{
        color: #D48AFF;
    }
    #blog{
        color: #ABD5FF;
    }
    #builds{
        color: #ffdc4b;
    }
    .adsbygoogle{
        margin: 20px auto !important;
        display: block;
    }